# for training
logs/

# for analysis and noteboooks
results/
plots/
test-images/

plots_vss/

# for development
dev/
test.log

# for using tools from others
tools/

__pycache__/

./idea

.ipynb_checkpoints/

.DS_Store


._.DS_Store
